@model HomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My page</title>
</head>
<body>
<article>
    @RenderBody()
    @foreach(var article in @Model.Articles) {
    <h1>@article.Title</h1>
    }
</article>
</body>
</html>